<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <a href="{{ url_for('index_page') }}">
            <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Логотип">
        </a>
        <p>Добро пожаловать в наш магазин!</p>
    </div>
    <div class="main">
        <div class="sidebar">
            Производители:
            {% for b in brands %}
                <p>
                    <a href="{{ url_for('index_page', brand=b.id) }}">{{ b.name }}</a>
                </p>
            {% endfor %}
        </div>
        <div class="content">
            Телефоны:
            {% for p in products %}
                <p>
                    <a href="{{ url_for('product_page', product_id=p.id) }}">
                        {{ p.brand }} {{ p.model }}
                    </a>
                    {% if p.photo_small %}
                    <img src="{{ url_for('static', filename=p.photo_small) }}" alt="Фото телефона">
                    {% endif %}
                </p>
            {% endfor %}
        </div>
    </div>
</body>
</html>